<table class="zebra-striped condensed-table bordered-table">
  <thead>
    <tr>
      <th><%= t('generic.name') %></th>
      <th><%= t('generic.email') %></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= mail_to user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
