<% index ||= false %>
<% if report.send("has_#{file_type}?") %>
  <p>
    <% if index %>
      <strong><%= t("reports.show.#{file_type}") %>:</strong>
    <% end %>
    <% report.send("uploaded_#{file_type}").each do |file| %>
      <%= link_to file.document_file_name, file.document.url %><br />
    <% end %>
  </p>
<% else %>
  <% if !index %>
    <p>
      <% if file_type != "additional_information" && report.send("no_trade_#{file_type}") %>
        <%= t('generic.no_trade') %>
      <% else %>
        <%=t("reports.show.no_#{file_type}")%>
      <% end %>
    </p>
  <% end %>
<% end %>
