<% index ||= false %>
<% if report.send("has_#{file_type}?") %>
  <p>
    <% if index %>
      <strong><%= t("reports.show.#{file_type}") %>:</strong>
    <% end %>
    <% report.send("uploaded_#{file_type}").each do |file| %>
      <%= link_to file.document_file_name, file.document.url %><br />
    <% end %>
  </p>
<% else %>
  <% if !index %>
    <p><%=t("reports.show.no_#{file_type}")%></p>
  <% end %>
<% end %>
