/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/

a{
  color:#57A957;
}

a:hover {
  color: darkGreen;
}

.form-stacked label.inline{
  display: inline-block;
  font-weight: normal;
  width: 25px;
}

fieldset{
  border: 1px solid #eee;
  padding: 25px;
}

.clear{
  clear: both;
  margin: 0;
}

.hide{
  display:none;
}

fieldset#files_upload_section{
  font-size: 16px;
}
fieldset#files_upload_section label{
  font-size: 14px;
}
fieldset#files_upload_section p{
  font-size: 14px;
}

.btn.remove.danger {
  float: right;
}

ul.tabs > li.active > a {
  color: orange;
}

footer span {
  display: block;
  float: left;
}

span.warning {
  font-weight: bold;
  color: fireBrick;
}
